/* Variables for scss App.scss */
















$red: #FF0000;
$logoGrey: rgb(77, 77, 77);
$logoLighterGrey: rgb(102, 102, 102);
$logoGreen: rgb(170, 212, 0);
$white: #FFFFFF;
$lightOrange: #F29F05;
$darkBlue: #0049A6;
$lighterBlue: #095ac1;
$black: #000000;
